/* All_common_css_start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.mr{
    margin-right: 0 !important;
}
.ml{
    margin-left: 0!important;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.clr{
    clear: both;
}
.full_wrapper{
    width: 100%;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
/* All_common_css_end */

/*<=============Header_part_start=============>*/
.head{
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    float: left;
    width: 210px;
    padding-top: 41px;
}
.logo img{
    padding-left: 15px;
}
.menu{
    float: left;
    width: 960px;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    line-height: 30px;
    padding-top: 62px;
}
.menu ul li a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding-left: 21px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    
}
/*<=============Hover=============>*/
.menu ul li a:hover{
    color: #753d9d;
}
/*<=============Hover=============>*/
/*<=============Header_part_end=============>*/

/*<=============Banner_part_start=============>*/
.banner{
    background: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_overlay{
    padding-top: 319px;
    padding-bottom: 188px;
    background: rgba(27, 27, 27, 0.507);
}
.banner_text{
    text-align: center;
}
.banner_text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #fff;
}
.banner_text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 900px;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 77px;
}
.banner_text a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border: 2px solid #fff;
    padding: 25px 68px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    position: relative;
}
/*<=============Hover=============>*/
.banner_text a:hover{
    background: #753d9d;
    border: 2px solid #753d9d;
}
/*<=============Hover=============>*/
/*<=============After,Before=============>*/
.banner_text .after::before{
    content: '';
    position: absolute;
    bottom: -159px;
    left: 160px;
    width: 68px;
    height: 7px;
    background: #7f7b85;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.banner_text .after::after{
    content: '';
    position: absolute;
    bottom: -159px;
    left: 235px;
    width: 68px;
    height: 7px;
    background: #753d9d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.banner_text .before::after{
    content: '';
    position: absolute;
    bottom: -159px;
    right: 135px;
    width: 68px;
    height: 7px;
    background: #7f7b85;
    padding-left: 15px;
    border-radius: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/*<=============After,Before=============>*/
/*<=============Banner_part_start=============>*/

/*<=============About_part_start=============>*/
.about{
    padding-top: 71px;
    padding-bottom: 76px;
    border-bottom: 3px solid #e0e0e0;
}
.about_text{
    float: left;
    width: 685px;
}
.about_text h3{
    width: 375px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #0d113d;
    position: relative;
    padding-left: 33px;
    padding-top: 22px;
}
.about_text h3 .blom{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #753d9d;
}
.about_text h3 span{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #0d113d;
}
.about_text p{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #0d113d;
    line-height: 26px;
    padding-left: 15px;
    width: 676px;
    padding-top: 44px;
    padding-bottom: 53px;
}
.about_text a{
    margin-left: 15px;
    border: 2px solid #0d113d;
    padding: 24px 73px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #0d113d;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.about_img{
    float: left;
    width: 480px;
    box-sizing: border-box;
    
}
.about_img img{
    padding-left: 15px;
    padding-right: 15px;
}
/*<=============After,Before=============>*/
.about_text h3::before{
    content: '';
    width: 5px;
    height: 85px;
    background: #753d9d;
    position: absolute;
    top: 23px;
    left: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
/*<=============After,Before=============>*/
/*<=============About_part_end=============>*/

/*<=============About_bottom_part_start=============>*/
.about_bottom{
    padding-top: 69px;
    padding-bottom: 72px;
}
.abot_item{
    width: 375px;
    margin-left: 15px;
    float: left;
}
.about_item_logo{
    float: left;
}
.logo_name{
    float: left;
}
.logo_name h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #0d113d;
    padding-top: 26px;
    padding-left: 21px;
    padding-bottom: 28px;
}
.about_item_text p{
    width: 351px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #0d113d;
    line-height: 26px;
}
/*<=============About_bottom_part_end=============>*/

/*<=============Lab_part_start=============>*/
.lab{
    background: url(../images/Banner_two.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lab_overlay{
    background: rgba(27, 27, 27, 0.5);
    padding-top: 103px;
    padding-bottom: 101px;
}
.lab_text{
    text-align: center;
}
.lab_text h3{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 65px;
}
.lab_text a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #753d9d;
    background: #753d9d;
    padding: 26px 71px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
/*<=============Lab_part_end=============>*/

/*<=============Service_part_start=============>*/
.service{
    padding-top: 63px;
    padding-bottom: 71px;
    border-bottom: 3px solid #e0e0e0;
}
.heading_text h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #0d113d;
    padding-bottom: 30px;
    position: relative;
    padding-left: 33px;
}
/*<=============after,before=============>*/
.heading_text h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 38px;
    width: 5px;
    background: #753d9d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/*<=============after,before=============>*/
.service_item{
    width: 262px;
    float: left;
    margin: 0 15px;
}
.service_img img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
} 
.service_img{
    position: relative;
}
.service_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.253);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-image: linear-gradient(to top,rgba(117, 61, 157, 0.863),rgba(248, 248, 248, 0));
}
.service_overlay h5{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    margin-left: 25px;
   margin-top: 295px;
} 
.service_bottom_item{
    width: 655px;
    margin: 30px 15px 0 15px;
    float: left;
}
.service_bottom_img{
    position: relative;
}
.service_bottom_img img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.service_bottom_overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.253);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,rgba(117, 61, 157, 0.863),rgba(248, 248, 248, 0));
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.service_bottom_overlay h5{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    margin-left: 25px;
    margin-top: 260px;
} 
.service_bottom_item_left{
    float: left;
    background: #0d113d;
    width: 455px;
    padding-top: 246px;
    padding-bottom: 76px;
    margin-top: 30px;
    text-align: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 15px; 
    margin-right: 15px;   
}
.service_bottom_item_left h5{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding-right: 45px;
    position: relative;
}
.service_bottom_item_left h5::after{
    content: '';
    position: absolute;
    bottom: -35px;
    right: 75px;
    width: 92px;
    height: 2px;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}



/*<=============Hover=============>*/
/* .service_overlay:hover{ 
    background-image: linear-gradient(to top,#753d9d, rgba(117, 61, 157, 0.11));
}
.service_overlay:hover h5{
    visibility: visible;
    opacity: 1;
} */
/*<=============Hover=============>*/
/*<=============Service_part_end=============>*/


/*<=============System_part_start=============>*/
.system{
    padding-top: 50px;
    background:#ffffff;
}
.system_img{
    width: 503px;
    float: left;
}
.system_img img{
    width: 100%;
}
.system_text{
    float: left;
    width:667px;
}

.system_text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 600;
    color: #0d113d;
    text-transform: capitalize;
    padding-top: 12px;
}
.system_text p{
    width:660px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #0d113d;
    line-height: 26px;
    padding-top: 12px;
    padding-bottom: 33px;
}
.system_text ol{
    list-style-type:disc;
    padding-left: 14px;
}
.system_text ol li{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #616161;
    line-height: 35px;
}
.full_bg{
    background: #753d9d;
    padding-top: 70px;
    padding-bottom: 75px;
}
.full_bg_text{
    width: 100%;
}
.full_bg_text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}
.full_bg_btn{
    text-align: right;
    margin-top: -25px;
}
.full_bg_btn a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border:1px solid #fff;
    padding: 24px 70px;
    text-align: right;
    width: 500px;
}
/*<=============System_part_end=============>*/

/*<=============Portfolio_part_start=============>*/
.portfolio{
    padding-top: 78px;
    padding-bottom: 105px;
}
.portfolio_text h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #0d113d;
    position: relative;
    padding-left: 33px;
    
}
.portfolio_text{
    float: left;
    width: 300px;
}
.p-folio_font{
    float: left;
    text-align: right;
    width: 870px;
    margin-left: -15px;
}
.p-folio_font i{
    color: #e9e9e9;
    font-size: 20px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

/*<=====After_Before_Hover=====>*/
.p-folio_font i:hover{
   color: #753d9d;
}
.portfolio_text h3::after{
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 38px;
    width: 5px;
    background: #753d9d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.blog_text h3::after{
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 38px;
    width: 5px;
    background: #753d9d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/*<=====After_Before_Hover=====>*/

.p-folio_item{
    width: 360px;
    margin-top: 55px;
    margin:30px 15px 0 15px;
    float: left;
}
.p-folio_img img{
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.p-folio_img{
    position: relative;
}
.p-folio_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(25, 11, 35, 0.61);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.blog_text{
    padding-top: 65px;
   
}
.blog_text h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #0d113d;
    position: relative;
    padding-left: 33px;
}
.blog_item_text{
    margin-top: 90px;
    margin-left: 15px;
    /* margin-bottom: 37px; */
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 37px;
}
.blog_item_text h6{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0d113d;
    width: 705px;
    display: inline-block;

}
.blog_item_text .date{
    width: 445px;
    margin: 0 auto;
    display: inline-block;
}
.blog_item_text .date h5{
    display: inline-block;
    width: 220px;
}
.blog_item_text .date h4{
    display: inline-block;
    width: 220px;
    margin: 0 auto;

}
/*<=============Portfolio_part_end=============>*/

/*<=============Footer_part_start=============>*/
.footer{
    /* padding-top: 0; */
    padding-bottom: 40px;
    background: #0d113d;
}
.footer_bg{
    background:#753d9d;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.footer_bg_text{
    width: 360px;
    float: left;
    padding-left: 25px;
}
.footer_bg_text h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}
.footer_bg_text p{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.footer_box{
    width: 488px;
    float: left;
}
.footer_box input{
    padding: 20px 155px 20px 30px;
    background: #000;
    border: 2px solid #d3b1eb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: #e0c2f6;
    text-transform: capitalize;
}
.footer_btn{
    width: 292px;
    float: left;
    text-align: right;
    margin-left: -20px;
    margin-top: 23px;
}
.footer_btn a{
    border: 2px solid #fff;
    padding: 20px 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.footer_bottom{
    margin: 0 15px;
    width: 560px;
}
.footer_item{
    float: left;
}
.footer_logo{
    padding-top: 70px;
}
.footer_bottom_text p{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    width: 560px;
    padding-top: 40px;
    line-height: 26px;
}
.footer_menu{
    width: 100px;
    float: left;
}
.footer_menu h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    padding-left: 15px;
    padding-right: 3px;
    padding-top: 25px;
}
.footer_contact{
    width: 262px;
    float: left;
}
.footer_contact h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    padding-left: 97px;
    padding-right: 50px;
    padding-top: 25px;
}
.footer_about{
    width: 210px;
    float: left;
}
.footer_about h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    padding-left: 30px;
    padding-right: 67px;
    padding-top: 25px;
}
.footer_bottom_left{
    margin-top: 80px;
}
.footer_bottom_left h2{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.footer_border{
    border-bottom: 2px solid #1e224d;
    margin: 80px 0;
}
/*<=============hover=============>*/
.footer_bottom_left h2:hover{
    color: #753d9d;
}
.footer_br_txt{
    color: #b3b5d1;
    width: 500px;
    float: left;
}
.footer_br_txt h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.footer_icon{
    color: #fff;
    width: 670px;
    float: left;
    text-align: right;
}
.footer_icon i{
    padding-left: 25px;
}
/*<=============hover=============>*/

/*<=============Footer_part_end=============>*/

